@use '../helpers/variables' as *;
@use '../helpers/functions' as fn;

.footer {
  padding: fn.space(7) 0;
  background: $color-ink;
  color: rgba($color-paper, 0.9);

  .footer__content {
    display: flex;
    justify-content: space-between;
    gap: fn.space(3);
    flex-wrap: wrap;
  }
}
